<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Visitors Detail</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
         
            <!-- <div class="form-group row">
              <label class="col-md-3 col-form-label" for="date-input">Meeting Date* </label>
              <div class="col-md-3">
                <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="date">Leave Time</label>
            <div class="col-md-3">
              <input type="time" name="usr_time">
            </div>
            </div> -->

            <div class="row">
              <div class="col-md-3">
                <label for="date">Meeting Date</label>
              </div>
              <div class="col-md-3">
                <input type="date"  id="bday" name="bday" placeholder="leave date..">
              </div>
        
             <div class="col-md-3">
                <label for="date">Meeting Time</label>
              </div>
              <div class="col-md-3">
                <input type="time" name="usr_time"><br><br>
              </div>
        
            </div>
           
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">Site *</label>
              <div class="col-md-3">
                <select id="site" name="site" class="form-control">
                  <option value="0">Please select</option>
                  <option value="1">Head Office</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Host *</label>
              <div class="col-md-3">
                <input type="text" id="host" name="host" class="form-control" placeholder="Plz Enter event name">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">Visitor Type</label>
              <div class="col-md-3">
                <select id="visitor_type" name="visitor_type" class="form-control">
                  <option value="Please select">Please select</option>
                  <option value="Visitor">Visitor</option>
                  <option value="Contractor">Contractor</option>
                  <option value="Delivery">Delivery</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Full Name *</label>
              <div class="col-md-6">
                <input type="text" id="name" name="name" class="form-control" placeholder="Plz Enter name">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Company</label>
              <div class="col-md-6">
                <input type="company" id="company" name="text-input" class="form-control" placeholder="Plz Enter Company name">
              </div>
            </div>

            <div class="form-group row">
                <div class="col-md-7">
                  <div class="input-group">
                      <label class="col-md-6 col-form-label" for="text-input">E-Mail</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" autocomplete="email">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                    </div>
                  </div>
                </div>
              </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save Event</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset Event</button>
          <button type="reset" class="btn btn-sm btn-success"><i class="fa fa-backward"></i> &nbsp;Back</button>
        </div>
      </div>
      
    </div>
    <!--/.col-->
  </div><!--/.row-->
  </div>
